<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz1JBpY7phg_w7jCfAF3P0rUq4hyUMHc8</string>
	<key>GCM_SENDER_ID</key>
	<string>454663992177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingFootballSchedule</string>
	<key>PROJECT_ID</key>
	<string>main-app-e9209</string>
	<key>STORAGE_BUCKET</key>
	<string>main-app-e9209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454663992177:ios:262ab56112e035c95ebcd0</string>
</dict>
</plist>